|LISTAS|DICIONÁRIO|
|-----|---|
|São feitas de forma ordenada|Possuem o conceito de chaves, não sendo ordenado|
|   |   |
|   |   |
|   |   |
|   |   |

In [52]:
import numpy as np
import pandas as pd

Existem 4 formas de se importar o "numpy"

In [5]:
## 1
import numpy 
numpy.array(1)
numpy.random.random(1)

array([ 0.29255935])

In [7]:
## 2
import numpy as np
np.array(1)

array(1)

In [11]:
## 3
from numpy import array ##Especificar os import
array(1)

array(1)

In [10]:
## 4
from numpy import * ##Tudo
array(1)

array(1)

In [13]:
ar = np.arange(1, 10)
ar

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
ar1 = np.linspace(1, 15, 5)
ar1

array([  1. ,   4.5,   8. ,  11.5,  15. ])

1)

In [21]:
vet = np.arange(0, 101, 2)
vet

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

2)

In [24]:
lin = np.linspace(2, 100)
lin

array([   2.,    4.,    6.,    8.,   10.,   12.,   14.,   16.,   18.,
         20.,   22.,   24.,   26.,   28.,   30.,   32.,   34.,   36.,
         38.,   40.,   42.,   44.,   46.,   48.,   50.,   52.,   54.,
         56.,   58.,   60.,   62.,   64.,   66.,   68.,   70.,   72.,
         74.,   76.,   78.,   80.,   82.,   84.,   86.,   88.,   90.,
         92.,   94.,   96.,   98.,  100.])

In [51]:
vet = np.linspace(1, 10, 10)
array = ""
for i in range(len(vet)):
    if(vet[i] == vet[-1]):
        array += str(int(vet[i]))
    else:
        array += str(int(vet[i]))+", "
print("array = (["+array+"])")

array = ([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [58]:
serie = pd.Series([1, 2, 3])

In [60]:
serie

0    1
1    2
2    3
dtype: int64

Usando Dicionário

In [65]:
A = ['a','b','c', 'd']
B = [0,1,"d", "d"]
pd.Series(data = A, index= B)

0    a
1    b
d    c
d    d
dtype: object

In [76]:
d1 = [1,2,3]
d2 = np.random.random
i = ['a','b','c']
pd.Series(data=d1, index=i)

d1 = [1,2,3]
i = ['a','b','c']
pd.Series(d1, i)

d1 = [1,2,3]
i = ['a','b','c']
pd.Series(d1)

0    1
1    2
2    3
dtype: int64

In [86]:
d2 = np.random.random(5)
pd.Series(d2)

0    0.797371
1    0.216534
2    0.517210
3    0.396653
4    0.950269
dtype: float64

In [87]:
#listas

d1 = [1,2,3]
i = ['a','b','c']
pd.Series(data=d1, index=i)

d1 = [1,2,3]
i = ['a','b','c']
pd.Series(d1, i)

d1 = [1,2,3]
i = ['a','b','c']
pd.Series(d1)

#ndarray
d2 = np.random.random(5)
pd.Series(d2)

#dicionarios
d3 = {'1º': 'Estatística', 
     '3º': 'Sinais_e_sistemas',
     '2º': 'Estrutura_de_dados_com_Ruan'}

pd.Series(d3)

#escalares

pd.Series('a', index=['11º', '21º', '31º', '4º'])

11º    a
21º    a
31º    a
4º     a
dtype: object

Atividade sala

In [103]:
s1 = [0,1,2,3,4,]
ss1 = [10, 20, 30, 40,50]
pd.Series(data=ss1, index=s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [112]:
s2 = [0, 2, 4, 6]
ss2 = [5, 10, 15, 20]
pd.Series(data=ss2, index=s2)
pd.Series(index=s1, data=ss1)/pd.Series(index=s2, data=ss2)

0    2.000000
1         NaN
2    3.000000
3         NaN
4    3.333333
6         NaN
dtype: float64

In [113]:
pd.Series(index=s1, data=ss1)*pd.Series(index=s2, data=ss2)

0     50.0
1      NaN
2    300.0
3      NaN
4    750.0
6      NaN
dtype: float64

In [114]:
pd.Series(index=s1, data=ss1)+pd.Series(index=s2, data=ss2)

0    15.0
1     NaN
2    40.0
3     NaN
4    65.0
6     NaN
dtype: float64

In [107]:
d1 = [1,2,3]
i = ['a','b','c']
pd.Series(d1, i)

a    1
b    2
c    3
dtype: int64

In [108]:
d2 = np.random.random(5)
pd.Series(d2)

0    0.874516
1    0.513727
2    0.239651
3    0.466121
4    0.773805
dtype: float64

In [109]:
#dicionarios
d3 = {'1º': 'Estatística', 
     '3º': 'Sinais_e_sistemas',
     '2º': 'Estrutura_de_dados_com_Ruan'}

pd.Series(d3)

1º                    Estatística
2º    Estrutura_de_dados_com_Ruan
3º              Sinais_e_sistemas
dtype: object

In [110]:
#escalares

pd.Series('a', index=['11º', '21º', '31º', '4º'])

11º    a
21º    a
31º    a
4º     a
dtype: object